html,body{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}
.links{
    transform:translateX(1600px) translateY(-50px);
    font-size:25px;
    text-decoration: none;
}
a[href="test1.html"]{
    color:rgb(7, 66, 86);
    display:inline-block;
    transform:translateX(20px);
    text-decoration:none;
    font-size:100px;
    font-family: 'Times New Roman';
    transform:translateY(20px);
}
a[href="images.html"]{
    display:inline-block;
    transform:translateX(0px);
    color:black;
    text-decoration: none;
}
a[href="aboutus.html"]{
    display:inline-block;
    transform:translateX(120px);
    color:black;
    text-decoration: none;
}
a[href="contactus.html"]{
    display:inline-block;
    transform:translateX(200px);
    color:black;
    text-decoration: none;
}
.header{
    background-color:white;
    padding: 0px;
    margin:0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}
img{
    transform: translateY(30px);
}
.CENTRE{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding:260px;
    padding-bottom:100px;
    margin:0px;
    background-color: rgb(7, 66, 86)
}
blockquote{
    transform:translateY(-325px) translateX(-355px);
    font-size:70px;
    color:white;
}
.FOOTER{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    background-color:rgb(34, 98, 114);
}
.data{
    transform:translateY(150px) translateX(90px);
}
.children{
    position:absolute;
    top:1050px;
    left:1120px;
    transition: top 0px,right -150px;
    width:650px;
    height:auto;
    border-width: 5px;
    border-style: solid;
}
.group{
    position: absolute;
    top:1580px;
    left:1550px;
    width: 600px;
    height:auto;
    border-width: 5px;
    border-style: solid;
}
.background{
    position:absolute;
    top: -30px;
    left:-40px;
    width: 2400px;
    height:auto;
    z-index: 1;
}
.heading{
    position: absolute;
    z-index:2;
    top:150px;
    left:300px;
    right:275px;
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px white;
    font-family: 'Times New Roman', Times, serif;
}
.topcentre{
    position: relative;
    padding:450px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    z-index: 4;
    padding-bottom: 350px;
}
.text{
    position: absolute;
    top:875px;
    left:150px;
    right:100;
    color:black;
    font-size: 25px;
}