html,body{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}
.links{
    transform:translateX(1600px) translateY(-50px);
    font-size:25px;
    text-decoration: none;
}
a[href="test1.html"]{
    color:rgb(7, 66, 86);
    display:inline-block;
    transform:translateX(20px);
    text-decoration:none;
    font-size:100px;
    font-family: 'Times New Roman';
    transform:translateY(20px);
}
a[href="images.html"]{
    display:inline-block;
    transform:translateX(0px);
    color:black;
    text-decoration: none;
}
a[href="aboutus.html"]{
    display:inline-block;
    transform:translateX(120px);
    color:black;
    text-decoration: none;
}
a[href="contactus.html"]{
    display:inline-block;
    transform:translateX(200px);
    color:black;
    text-decoration: none;
}
img{
    transform: translateY(30px);
}
.data{
    transform:translateY(150px) translateX(90px);
}
.children{
    position:absolute;
    top:1050px;
    left:1120px;
    transition: top 0px,right -150px;
    width:650px;
    height:auto;
    border-width: 5px;
    border-style: solid;
}
.group{
    position: absolute;
    top:1580px;
    left:1550px;
    width: 600px;
    height:auto;
    border-width: 5px;
    border-style: solid;
}
.background{
    position:absolute;
    top: -30px;
    left:-40px;
    width: 2400px;
    height:800px;
    padding-bottom: 10px;
    z-index: 0;
}
.heading{
    position: absolute;
    z-index:2;
    top:150px;
    left:300px;
    right:275px;
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px white;
    font-family: 'Times New Roman', Times, serif;
}
.topcentre{
    position: relative;
    padding:450px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    z-index: 4;
    padding-bottom: 350px;
}
.text{
    position: absolute;
    top:1050px;
    left:185px;
    right:550;
    width:1900px;
    text-wrap: break-word;
    color:black;
    font-size: 25px;
}
.headingS{
    position:absolute;
    top:990px;
    left:185px;
    color:rgb(7, 66, 86);
}
.Read{
    position: Absolute;
    top:1300px;
    left:185px;
    color:white;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(34, 98, 114);
    border-radius: 3px;
}
.holder{
    border-width: 1px;
    border-style: solid;
    padding:190px;
}
.aim{
    position:relative;
    border-style: solid;
    border-width: 1px;
    padding:225px;
    z-index: 2;
}
.aimbg{
    position:absolute;
    top:1325px;
    width: 3000px;
    height: 450px;
    z-index: 0;
}
.aimhead{
    position: absolute;
    top:10px;
    right:1000px;
    color: white;
    text-decoration: dashed;
    font-size: 50px;
}
.aimbod{
    color: white;
    position: absolute;
    top:100px;
    left:360px;
    width: 1500px;
    text-align: center;
    font-size:35px;
}
.img1{
    position: absolute;
    border-style: solid;
    top:1775px;
    padding-bottom: 5px;
    z-index: 0;
}
.one-one{
    position: absolute;
    top:5px;
    left:4px;
    border-width: 0px;
    border-color: blue;
    height: 500px;
    width:780px;
}
.one-two{
    position: absolute;
    top:5px;
    left:789px;
    height: 500px;
    width:780px;
}
.one-three{
    position: absolute;
    top:5px;
    left:1574px;
    height: 500px;
    width:697px;
}
.img2{
    position: absolute;
    top:2315px;
    left:5px;
}
.two-one{
    position: absolute;
    top:-25px;
    left:1px;
    width:781px;
    height:500px;
}
.two-two{
    position: absolute;
    top:-25px;
    left:787px;
    width:781px;
    height:500px;
}
.two-three{
    position: absolute;
    top:-25px;
    left:1574px;
    width:698px;
    height:500px;
}
.header{
    background-color:white;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    position: relative;
    z-index: 2;
}
.FOOTER{
    position: absolute;
    border-style: solid;
    border-width: 1px;;
    border-color: black;
    background-color: rgb(8, 8, 15);
    height: 700px;
    width:2275px;
    top:2828px;
}
.footlogo{
    position: absolute;
    width: 100px;
    top:105px;
    left:455px;
}
.foottext{
    color: white;
    position: absolute;
    width:350px;
    top:250px;
    left:450px;
    text-decoration: none;
    font-size: 30px;
}
.footerlogotext{
    position: absolute;
    top: 115px;
    left:575px;
    width:50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.footlinks{
    position: absolute;
    top: 135px;
    left:1000px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.contacts{
    position: absolute;
    top: 115px;
    left:1300px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.underline1{
    position:absolute;
    color: white;
    top: 125px;
    left:996px;
}
.underline2{
    position:absolute;
    color: white;
    top: 125px;
    left:1295px;
}
.underline3{
    position:absolute;
    color: white;
    top: 125px;
    left:1703px;
}
.phone{
    position: absolute;
    left:1225px;
    top:180px;
}
.numbers{
    position: absolute;
    left:1300px;
    top:190px;
    width: 10px;
    color: white;
    font-size: 25px;
}
.location{
    position: absolute;
    left:1220px;
    top:265px;
}
.locationcon{
    color: white;
    position: absolute;
    left:1300px;
    top:265px;
    width:200px;
    font-size: 25px;
}
.map{
    color: white;
    position: absolute;
    left:1720px;
    top:120px;
    width:200px;
    font-size: 30px;
}
.maploc{
    width: 500px; 
    height: 450px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top:200px;
    left:1550px;
}   
.insta{
    position: absolute;
    left:1220px;
    top:395px;
}
.instacon{
    color:white;
    position: absolute;
    left:1300px;
    top:430px;
    text-decoration: none;
    font-size: 25px;
}
.yt{
    position: absolute;
    left:1220px;
    top:480px;
    width:57px;
}
.ytcon{
    color:white;
    position: absolute;
    left:1300px;
    top:520px;
    text-decoration: none;
    font-size: 25px;
}